.my-footer{
    overflow: hidden;
}
.footer-link a{
    color: rgb(185, 177, 177);
    font-size: 15px;
}
.footer-services p{
    margin-top: 4px;
    color: rgb(185, 177, 177);
    line-height: 20px;
}
.footer-contact-text{
    color: rgb(185, 177, 177);
    font-size: 15px;
}
.fas, .far{
    color: rgb(185, 177, 177);
    font-size: 30px;
}